DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sb_oms?schema=public"
JWT_SECRET="change-me-to-a-32-character-minimum-secret"
JWT_EXPIRES_IN="7d"
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
ADMIN_EMAIL="admin@saibalaji.com"
PORT=3001
NODE_ENV=development
CLIENT_URL="http://localhost:5173"
